html {
    @include fluid-type(16px, 18px);

    line-height: var(--line-height);
    background: #f8f8f8;
}

body {
    font-family: var(--open-sans);
    background: var(--color-var);
}

.heading-base {
    font-family: var(--open-sans);
    font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5 {
    @extend .heading-base;
    line-height: var(--line-height);
    margin-bottom: 1rem;
}

.h1 {
    font-size: 2rem;
}

.h2 {
    font-size: 1.8rem;
}

.h3 {
    font-size: 1.4rem;
}

.h4 {
    font-size: 1.2rem;
}

.h5 {
    font-size: 1.1rem;
}

// links
.link {
    color: #000;
    text-decoration: underline;

    &:hover, 
    &:focus {
        color: #333;
    }
}

// neumorphic design patterns
